beautifulsoup4==4.9.3
certifi==2021.5.30
chardet==4.0.0
colorama==0.4.4
colorlog==5.0.1
colormap==1.0.3
colorthief==0.2.1
easydev==0.11.1
idna==2.10
pexpect==4.8.0
Pillow==8.3.1
ptyprocess==0.7.0
requests==2.25.1
selenium==3.141.0
soupsieve==2.2.1
urllib3==1.26.6
